body {
    font-size: 1rem;
}

.mt-200px {
    margin-top: 200px;
}

@media (min-width: 576px) {
    .modal-dialog {
        max-width: 80%;
        margin: 1.75rem auto;
    }
}

.word-break {
    word-break: break-all;
    max-width: inherit;
}