.main-container {
    min-width: 1000px;
}

body {
    font-size: 1rem;
}

.filter-title {
    padding-bottom: 15px;
    background: #299be4;
    color: #fff;
    padding: 15px 30px;
    margin: -20px -25px 10px;
    border-radius: 3px 3px 0 0;
}

.filter-title .row {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
}

.filter-title .dropdown {
    width: 100%;
}

.filter-title .dropdown .btn {
    width: 100%;
    background-color: rgb(41, 155, 228);
    border-color: #fff;
    font-size: 16pt;
    font-weight: 600;
}

.right-panel .dropdown .btn {
    background-color: inherit;
    border-color: #000;
    border: none;
    padding: 0;
}

.status-waiting {
    color: #007bff !important;
}

.status-doing {
    color: #28a745 !important;
}

.status-done {
    color: #ffc107 !important;
}

.status-removed {
    color: #dc3545 !important;
}

.text-waiting{
    color: #007bff !important;
}

.text-doing{
    color: #28a745!important;
}

.text-done{
    color: #ffc107!important;
}

.text-removed{
    color: #dc3545!important;
}

.dropdown-item.active, .dropdown-item:active {
    background-color: #dcdde1;
}

.bootstrap-select button {
    height: 40px;
}

.bootstrap-select {
    background-color: inherit !important;
}