#logo-text {
	font-family: 'Dancing Script', cursive;
	font-size: 4.5vh;
	font-weight: 700;
	text-shadow: 0px 0px 20px rgb(211, 208, 214) ;
}

.pv-15px {
	padding-top: 15px;
	padding-bottom: 15px;
}

.pv-5px {
	padding-top: 5px;
	padding-bottom: 5px;
}

#mainNav {
    box-shadow: rgba(0,0,0,0.3) 0px 5px 30px 0px;
    transition: 0.4s;
	font-family: 'Nunito', sans-serif;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
}

.bg-purple-gradient {
	background-color: #5f27cd;
}

.height-60px {
    height: 60px;
}

.height-80px {
    height: 80px;
}

.mr-20px {
	margin-right: 20px;
}

.btn-custom {
	display: inline-block;
	font-weight: 400;
	text-align: center;
	vertical-align: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	padding: .375rem .75rem;
	font-size: 1rem;
	line-height: 1.5;
	border-radius: .25rem;
	transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;

	color: #5f27cd !important;
	background-color: #fff !important;
	border: 1px solid #fff !important;
}